<%- include('../adminLayouts/header.ejs') -%>
<style>
    .long-text {
     max-width: 200px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     word-wrap: break-word;
    }
    </style>
 <!-- Container-fluid starts-->
 <div class="page-body">
    <!-- All User Table Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title">
                            <h5>All Category</h5>
                            <form class="d-inline-flex">
                                <a href="/admin/category/addCategory"
                                    class="align-items-center btn btn-theme d-flex">
                                    <i data-feather="plus-square"></i>Add New
                                </a>
                            </form>
                        </div>

                        <div class="table-responsive category-table">
                            <div>
                                <table class="table all-package theme-table"  id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Category Name</th>
                                            <th>Description</th>                                            
                                            <th>Offer</th>                                            
                                            <th>List/Unlist</th>                                            
                                            <th>Option</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% for(let i = 0; i< categories.length; i++) { %>
                                        <tr>
                                            <td><%= categories[i].category %></td>
                                            <td class="long-text"><%= categories[i].description %></td>
                                            <td >
                                                <button style="margin-left: 60px !important;" onclick="offerListing(this)" type="button" class="btn btn-success" data-category-id="<%= categories[i]._id %>" data-is-listed=false>
                                                    View Offer
                                                  </button>
                                            </td>
                                            <td><% if(categories[i].is_listed==true){ %>
                                 
                                                <button style="margin-left: 60px !important;" onclick="listUser()" type="button" class="btn btn-success" data-category-id="<%= categories[i]._id %>" data-is-listed=false>
                                                  Unlist
                                                </button>
                                                <% }else{ %>
                                                <button onclick="listUser()" type="button" class="btn btn-danger" class="btn toggle-btn" data-category-id="<%= categories[i]._id %>"  data-is-listed=true>
                                                  List
                                                </button>                              
                                                <% } %>
                                            </td>
                                            <td>
                                                <ul>

                                                    <li>
                                                        <a href="/admin/category/editCategory/<%= categories[i]._id %>">
                                                            <i class="ri-pencil-line"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <% }; %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All User Table Ends-->
     <!-- Modal -->
  <div id="offerDetailsModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Offer Details</h5>

        </div>
        <div class="modal-body">
          <!-- Offer details will be loaded here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        async function listUser() {
          var button = event.target;
    
          var categoryId = button.dataset.categoryId
          var isListed = button.dataset.isListed;

    
          $.ajax({
            type: 'POST',
            data: {
              categoryId: categoryId,
              isListed: isListed
            },
            url: '/admin/category/categoryToggleList',
            success: async (res) => {
              if (res.success) {
                displayMessage(isListed);
              } else {
                // Handle unsuccessful response
                console.error('Toggle block failed');
              }
            },
            error: (err) => {
              // Handle AJAX error
              console.error('Error in AJAX request:', err);
            }
          });
          function displayMessage(isListed){
            var alertMessage = isListed === 'true'
            ? "🎉 Category listed successfully!"
            : "🚫 Category Unlisted successfully!";
                Swal.fire({
                    icon:'success',
                    title: 'Alert meaasge',
                    text: alertMessage,
                    willClose: ()=>{
                        window.location.reload();
                    }
                });
          }
        }
      </script>

<script>
    function offerListing(button) {
      const categoryId = button.dataset.categoryId;
      document.querySelector('#offerDetailsModal').dataset.categoryId = categoryId;
      $.ajax({
        url: '/admin/offerListing',
        type: 'POST',
        success: function(response) {
          let offersHtml = `
          <table class="table">
            <thead>
              <tr>
                <th>Offer Name</th>
                <th>Discount</th>
                <th>Description</th>
                <th>Apply</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
        `;
          response.offerDetails.forEach(offer => {
            if (offer) {
              offersHtml += `
              <tr>
                <td>${offer.offerName}</td>
                <td>${offer.percentage}% off</td>
                <td>${offer.offerDescription}</td>
                <td>
                  <button class="btn btn-primary apply-offer-btn">Apply</button>
                </td>
                <td>
                  <button class="btn btn-primary remove-offer-btn">Remove</button>
                </td>
              </tr>
            `;
            }
          });
          offersHtml += `
            </tbody>
          </table>
        `;

          document.querySelector('#offerDetailsModal .modal-body').innerHTML = offersHtml;
          $('#offerDetailsModal').modal('show');

          document.querySelector('#offerDetailsModal .modal-body table').addEventListener('click', function(event) {
            if (event.target.classList.contains('apply-offer-btn')) {
              const row = event.target.closest('tr');
              const offerName = row.querySelector('td:nth-child(1)').textContent;
              const categoryId = document.querySelector('#offerDetailsModal').dataset.categoryId;
              $.ajax({
                url: '/admin/applyOfferToCategory',
                type: 'POST',
                data: {
                  offerName: offerName,
                  categoryId: categoryId
                },
                success: function(response) {
                  alert(response.message);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                  console.error('Error applying offer:', textStatus, errorThrown);
                }
              });
            }
          });

          document.querySelector('#offerDetailsModal .modal-body table').addEventListener('click', function(event) {
            if (event.target.classList.contains('remove-offer-btn')) {
              const row = event.target.closest('tr');
              const offerName = row.querySelector('td:nth-child(1)').textContent;
              const categoryId = document.querySelector('#offerDetailsModal').dataset.categoryId;
              $.ajax({
                url: '/admin/removeOfferCategory',
                type: 'POST',
                data: {
                  offerName: offerName,
                  categoryId: categoryId
                },
                success: function(response) {
                  alert(response.message);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                  console.error('Error applying offer:', textStatus, errorThrown);
                }
              });
            }
          });





        }
      });
    }

    // Event listener for the modal close button
    document.querySelector('.btn-secondary').addEventListener('click', function() {
      $('#offerDetailsModal').modal('hide');
    });
  </script>



<%- include('../adminLayouts/footer.ejs') -%>
