<%- include('../adminLayouts/header.ejs') -%>

<style>
  .product-name-text {
    white-space: pre-wrap;
    width: 300px;
  }

  .scrollable-products {
    max-height: 400px;
    overflow-y: auto;

  }
  .scrollable-category {
    max-height: 300px;
    overflow-y: auto;

  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
</style>
<!-- index body start -->
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <!-- chart caard section start -->
      <div class="col-sm-6 col-xxl-3 col-lg-6">
        <div class="main-tiles border-5 border-0  card-hover card o-hidden">
          <div class="custome-1-bg b-r-4 card-body">
            <div class="media align-items-center static-top-widget">
              <div class="media-body p-0">
                <span class="m-0">Total Revenue</span>
                <h4 class="mb-0 counter">$6659
                  <span class="badge badge-light-primary grow">
                    <i data-feather="trending-up"></i>8.5%</span>
                </h4>
              </div>
              <div class="align-self-center text-center">
                <i class="ri-database-2-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xxl-3 col-lg-6">
        <div class="main-tiles border-5 card-hover border-0 card o-hidden">
          <div class="custome-2-bg b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="media-body p-0">
                <span class="m-0">Total Orders</span>
                <h4 class="mb-0 counter"><%= orderCount.toString().padStart(4, '0') %>
                  <span class="badge badge-light-danger grow">
                    <i data-feather="trending-down"></i>8.5%</span>
                </h4>
              </div>
              <div class="align-self-center text-center">
                <i class="ri-shopping-bag-3-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xxl-3 col-lg-6">
        <div class="main-tiles border-5 card-hover border-0  card o-hidden">
          <div class="custome-3-bg b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="media-body p-0">
                <span class="m-0">Total Products</span>
                <h4 class="mb-0 counter"><%= productCount.toString().padStart(4, '0') %>
                  <a href="/admin/product/addProduct" class="badge badge-light-secondary grow">
                    ADD NEW</a>
                </h4>
              </div>

              <div class="align-self-center text-center">
                <i class="ri-chat-3-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xxl-3 col-lg-6">
        <div class="main-tiles border-5 card-hover border-0 card o-hidden">
          <div class="custome-4-bg b-r-4 card-body">
            <div class="media static-top-widget">
              <div class="media-body p-0">
                <span class="m-0">Total Customers</span>
                <h4 class="mb-0 counter"><%= userCount %>
                  <span class="badge badge-light-success grow">
                    <i data-feather="trending-down"></i>8.5%</span>
                </h4>
              </div>


              <div class="align-self-center text-center">
                <i class="ri-user-add-line"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earning chart star-->
      <div class="col-xl-6 col-md-12">
        <div class="card o-hidden card-hover">
          <div class="card-header card-header-top card-header--2 px-0 pt-0">
            <div class="card-header-title">
              <h4>Sales Report</h4>
            </div>
            <div class="best-selling-box d-sm-flex d-none">
              <select class="form-select" id="reportPeriodSelect">
                <option selected>Day Wise</option>
                <option value="day">Day</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
              </select>
            </div>

          </div>
          <div class="card-body p-0">
            <div id="bar-chart-earning"></div>
            <input type="hidden" id="DailyWise" value="<%= arrayDayWise %>">
          </div>
        </div>
      </div>
      <!-- Earning chart end-->

      <!-- Best Selling Product Start -->
      <div class="col-xl-6 col-md-12">
        <div class="card o-hidden card-hover">
          <div class="card-header card-header-top card-header--2 px-0 pt-0">
            <div class="card-header-title">
              <h4>Best Selling Product</h4>
            </div>
          </div>
          <div class="card-body p-0">
            <div>
              <div class="table-responsive">
                <div class="scrollable-products">
                  <table class="best-selling-table w-image
                                w-image
                                w-image table border-0">
                    <tbody>
                      <% if(bestSellingProducts && bestSellingProducts.length > 0) { %>
                      <% bestSellingProducts.forEach(product => { %>
                      <tr>
                        <td>
                          <div class="best-product-box">
                            <div class="product-image">
                              <img src="/uploads/<%= product.images[0] %>" class="img-fluid" alt="Product">
                            </div>
                            <div class="product-name">
                              <h5 class="product-name-text"><%= product.name %></h5>
                              <h6><%= new Date(product.lastSold).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></h6>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="product-detail-box">
                            <h6>Price</h6>
                            <h5>₹<%= product.price %></h5>
                          </div>
                        </td>

                        <td>
                          <div class="product-detail-box">
                            <h6>Orders</h6>
                            <h5><%= product.sold %></h5>
                          </div>
                        </td>

                        <td>
                          <div class="product-detail-box">
                            <h6>Stock Left</h6>
                            <h5><%= product.quantity %></h5>
                          </div>
                        </td>

                        <td>
                          <div class="product-detail-box">
                            <h6>Amount</h6>
                            <h5>₹<%= product.sold * product.price   %></h5>
                          </div>
                        </td>
                      </tr>
                      <% }); %>
                      <% } else { %>
                      <tr>
                        <h6>No products</h6>
                      </tr>

                      <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Best Selling Product End -->


      <!-- Recent orders start-->
      <div class="col-xxl-4 col-md-6">
        <div class="card o-hidden card-hover">
          <div class="card-header card-header-top card-header--2 px-0 pt-0">
            <div class="card-header-title">
              <h4>Best Selling Category</h4>
            </div>
          </div>

          <div class="card-body p-0">
            <div>
              <div class="table-responsive">
                <div class="scrollable-category">
                <table class="best-selling-table table border-0">
                  <tbody>
                    <% if(bestSellingCategory && bestSellingCategory.length > 0) { %>
                    <% bestSellingCategory.forEach(category => { %>
                    <tr>
                      <td>
                        <div class="best-product-box">
                          <div class="product-name">
                            <h5><%= category.categoryName %></h5>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="product-detail-box">
                          <h6>Total Sold</h6>
                          <h5><%= category.totalSold %></h5>
                        </div>
                      </td>
                    </tr>
                    <% }); %>
                    <% } else { %>
                    <tr>
                      <td>
                        <div class="product-detail-box">
                          <h6>No Category</h6>
                        </div>
                      </td>
                    </tr>
                    <% } %>

                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Recent orders end-->

      <!-- Transactions start-->
      <div class="col-xxl-4 col-md-6">
        <div class="card o-hidden card-hover">
          <div class="card-header border-0">
            <div class="card-header-title">
              <h4>Transactions</h4>
            </div>
          </div>

          <div class="card-body pt-0">
            <div>
              <div class="table-responsive">
                <table class="user-table transactions-table table border-0">
                  <tbody>
                    <tr>
                      <td>
                        <div class="transactions-icon">
                          <i class="ri-shield-line"></i>
                        </div>
                        <div class="transactions-name">
                          <h6>Wallets</h6>
                          <p>Starbucks</p>
                        </div>
                      </td>

                      <td class="lost">-$74</td>
                    </tr>
                    <tr>
                      <td class="td-color-1">
                        <div class="transactions-icon">
                          <i class="ri-check-line"></i>
                        </div>
                        <div class="transactions-name">
                          <h6>Bank Transfer</h6>
                          <p>Add Money</p>
                        </div>
                      </td>

                      <td class="success">+$125</td>
                    </tr>
                    <tr>
                      <td class="td-color-2">
                        <div class="transactions-icon">
                          <i class="ri-exchange-dollar-line"></i>
                        </div>
                        <div class="transactions-name">
                          <h6>Paypal</h6>
                          <p>Add Money</p>
                        </div>
                      </td>

                      <td class="lost">-$50</td>
                    </tr>
                    <tr>
                      <td class="td-color-3">
                        <div class="transactions-icon">
                          <i class="ri-bank-card-line"></i>
                        </div>
                        <div class="transactions-name">
                          <h6>Mastercard</h6>
                          <p>Ordered Food</p>
                        </div>
                      </td>

                      <td class="lost">-$40</td>
                    </tr>
                    <tr>
                      <td class="td-color-4 pb-0">
                        <div class="transactions-icon">
                          <i class="ri-bar-chart-grouped-line"></i>
                        </div>
                        <div class="transactions-name">
                          <h6>Transfer</h6>
                          <p>Refund</p>
                        </div>
                      </td>

                      <td class="success pb-0">+$90</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Transactions end-->

    </div>
  </div>
  <!-- Container-fluid Ends-->


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const reportPeriodSelect = document.getElementById('reportPeriodSelect');

      reportPeriodSelect.addEventListener('change', function() {
        const selectedOption = this.value;
        console.log(selectedOption, 'selectedOption');
        fetchDate(selectedOption);
      });
    });

    function fetchDate(option) {

      const baseUrl = '/admin/dashboard/report';
      const url = `${baseUrl}?period=${option}`;
      console.log(url, 'url');

      fetch(url)
        .then(response => response.json())
        .then(data => {
          console.log(data, 'dataaaaaaaaaaaaaaaaaaaaaaa');
          if (data.successMonthly === true) {
            const newData = data.monthlyReport;
            const newCategories = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            Chart.updateOptions({
              series: [{
                name: 'Amount',
                data: newData
              }],
              colors: ["#0da487"],
              xaxis: {
                categories: newCategories
              }
            });
          }
          if (data.successDay === true) {
            var dayCategories = Array.from({
              length: 31
            }, (_, i) => (i + 1).toString());
            const newData = data.dayReport;
            Chart.updateOptions({
              series: [{
                name: 'Amount',
                data: newData
              }],
              colors: ["#FF0000"],
              xaxis: {
                categories: dayCategories
              }
            });
          }
          if (data.successYearly === true) {
            const yearCategories = Array.from({
              length: 11
            }, (_, i) => (2020 + i).toString());
            const newData = data.yearReport;
            Chart.updateOptions({
              series: [{
                name: 'Amount',
                data: newData
              }],
              colors: ["#000"],
              xaxis: {
                categories: yearCategories
              }
            });
          }
        })
        .catch(error => console.error('Error fetching data:', error));
    }
  </script>


  <%- include('../adminLayouts/footer.ejs') -%>