<%- include('../adminLayouts/header.ejs') -%>
<style>
    .product-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width:  200px;
    }
    </style>
    

 <!-- tracking section start -->
 <div class="page-body">
    <!-- tracking table start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="title-header title-header-block package-card">
                            <div>
                                <h5>#<%= orderData.orderId %></h5>
                            </div>
                            <div class="card-order-section">
                                <ul>
                                    <li><%= orderData.orderedDate %></li>
                                    <%
                                    var totalQuantity = 0;
                                    orderData.products.forEach(function(product) { totalQuantity += product.quantity }); %>
                                        <li><%= totalQuantity %> item</li>
                                                                          
                                    <li>Total ₹<%= orderData.orderTotal %></li>
                                    <li>Return reason: &nbsp;<%= orderData?.returnReason ?? null %></li>
                                    <li><%= orderData?.cancelReason ?? null %></li>
                                </ul>
                            </div>
                        </div>
                        <div class="bg-inner cart-section order-details-table">
                            <div class="row g-4">
                                <div class="col-xl-8">
                                    <div class="table-responsive table-details">
                                        <table class="table cart-table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Items</th>
                                                    <th class="text-end" colspan="2">
                                                        <a href="javascript:void(0)"
                                                            class="theme-color"></a>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% if(orderData && orderData.products && orderData.products.length >  0) { %>
                                                    <% orderData.products.forEach(product => { %>
                                                        <tr class="table-order">
                                                            <td>
                                                                <a href="javascript:void(0)">
                                                                    <img src="/uploads/<%= product.product.images[0] %>" class="img-fluid blur-up lazyload" alt="Product Image">
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <p>Product Name</p>
                                                                <h5 class="product-name"><%= product.product.name %></h5>
                                                            </td>
                                                            <td>
                                                                <p>Quantity</p>
                                                                <h5><%= product.quantity %></h5>
                                                            </td>
                                                            <td>
                                                                <p>Price</p>
                                                                <h5>$<%= product.price %></h5>
                                                            </td>
                                                        </tr>
                                                    <% }); %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="4">No products found in this order.</td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                            

                                            <tfoot>
                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h5>Subtotal :</h5>
                                                    </td>
                                                    <td>
                                                        <h4>₹<%= orderData.orderTotal %>.00</h4>
                                                    </td>
                                                </tr>

                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h5>Shipping :</h5>
                                                    </td>
                                                    <td>
                                                        <h4><del>₹50.00</del></h4>
                                                    </td>
                                                </tr>
                                    
                                                <tr class="table-order">
                                                    <td colspan="3">
                                                        <h4 class="theme-color fw-bold">Total Price :</h4>
                                                    </td>
                                                    <td>
                                                        <h4 class="theme-color fw-bold">₹<%= orderData.orderTotal %>.00</h4>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="order-success">
                                        <div class="row g-4">
                                            <h4>summery</h4>
                                            <ul class="order-details">
                                                <li>Order ID: #<%= orderData._id %></li>
                                                <li>Order Date: <%= orderData.orderedDate %> </li>
                                                <li>Order Total: ₹<%= orderData.orderTotal %></li>
                                            </ul>

                                            <h4>Shipping Address</h4>
                                            <ul class="order-details">
                                                <li><%= orderData.address[0].Fname %></li>
                                                <li><%= orderData.address[0].mobile %></li>
                                                <li><%= orderData.address[0].address %>, <%= orderData.address[0].apartment %>, <%= orderData.address[0].city %></li>
                                                <li><%= orderData.address[0].state %>, <%= orderData.address[0].pincode %></li>
                                                <li><%= orderData.address[0].country %></li>
                                            </ul>
                                            
                                            

                                            <div class="payment-mode">
                                                <h4>payment method</h4>
                                                <p><%= orderData.payment %></p>
                                            </div>

                                            <div class="delivery-sec">
                                                <h3>expected date of delivery: <span><%= orderData.expectedDelivery %></span>
                                                </h3>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tracking table end -->

    

<%- include('../adminLayouts/footer.ejs') -%>
