<%- include('../adminLayouts/header.ejs') -%>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="title-header option-title d-sm-flex d-block">
                            <h5>Products List</h5>
                            <div class="right-options">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">import</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Export</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-solid" href="/admin/product/addProduct">Add Product</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <p style="color: red;"><%= messages.productMsg? messages.productMsg:"" %></p>
                            <div class="table-responsive">
                                <table class="table all-package theme-table table-product" id="table_id">
                                    <thead>
                                        <tr>
                                            <th>Product Image</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Current Qty</th>
                                            <th>Price</th>
                                            <th>List/Unlist</th>
                                            <th>Option</th>
                                    
                                    </thead>

                                    <tbody>
                                        <% products.forEach(product => { %>
                                        
                                                <td>
                                                    <div class="table-image">
                                                        <img src="/uploads/<%= product.images[0] %>" class="img-fluid" alt="">
                                                    </div>
                                                </td>
                                    
                                                <td><%= product.name %></td>
                                                <td>
                                                    <% if (product.category) { %>
                                                      <%= product.category.category %>
                                                    <% } else { %>
                                                      No Category
                                                    <% } %>
                                                  </td>
                                                <td><%= product.quantity %></td>
                                                <td class="bi bi-currency-rupee">$<%= product.price %></td>
                                                <td>
                                                    <% if(product.is_listed==true){ %>
                                                    <button onclick="listUser()" type="button" class="btn btn-success" data-product-id="<%= product._id %>" data-is-listed=false>
                                                      Unlist
                                                    </button>
                                                    <% }else{ %>
                                                    <button onclick="listUser()" type="button" class="btn btn-danger" class="btn toggle-btn" data-product-id="<%= product._id %>" data-is-listed=true>
                                                      List
                                                    </button>
                              
                                                    <% } %>
                                                <td>
                                                    <ul>
                                                        <li>
                                                            <a href="order-detail.html">
                                                                <i class="ri-eye-line"></i>
                                                            </a>
                                                        </li>
                                    
                                                        <li>
                                                            <a href="/admin/product/editProduct/<%= product._id %>">
                                                                <i class="ri-pencil-line"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        async function listUser() {
          var button = event.target;
    
          var productId = button.dataset.productId;
          var isListed = button.dataset.isListed;
          console.log("User ID: ", productId);
          console.log("Is Listed: ", isListed);
    
          $.ajax({
            type: 'POST',
            data: {
              productId: productId,
              isListed: isListed
            },
            url: '/admin/product/editproduct/toggleList',
            success: async (res) => {
              if (res.success) {
                displayMessage(isListed);
              } else {
                // Handle unsuccessful response
                console.error('Toggle block failed');
              }
            },
            error: (err) => {
              // Handle AJAX error
              console.error('Error in AJAX request:', err);
            }
          });
          function displayMessage(isListed){
            var alertMessage = isListed === 'true'
            ? "🎉 Product listed successfully!"
            : "🚫 Product Unlisted successfully!";
                Swal.fire({
                    icon:'success',
                    title: 'Alert meaasge',
                    text: alertMessage,
                    willClose: ()=>{
                        window.location.reload();
                    }
                });
          }
        }
      </script>

<%- include('../adminLayouts/footer.ejs') -%>