<%- include('../adminLayouts/header.ejs') -%>
<style>
  select.js-example-basic-single {
    -webkit-appearance: menulist;

    -moz-appearance: menulist;

    appearance: menulist;

  }

  select::-ms-expand {
    display: block;
  }

  .scrollable-sales {
    max-height: 500px;
    overflow-y: auto;

  }

  .scrollable-tbody {
    max-height: 400px;
    overflow-y: auto;
    display: block;
  }

  .user-table {
    width: 100%;
  }


  .select-wrapper {
    position: relative;
    display: inline-block;
  }

  .select-wrapper::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    margin-top: 10px !important;
  }

  .d-flex {
    display: flex;
  }

  .align-items-center {
    align-items: center;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .mr-2 {
    margin-right: 0.5rem !important;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .btn.btn-solid {
    margin-left: 30px;
    width: 180px; 
    max-width: 200px; 
    padding: 10px 0px; 
}

  .product-name {
    font-size: 12px;
    word-wrap: break-word;
    width: 100px;
    overflow: hidden;
  }

  .address-details {
    font-size: 12px;
    word-wrap: break-word;
    width: 200px;
    overflow-x: auto;
  }

  .total-amount {
    margin-left: 100px;
  }
.dropdown-menu {
 background-color: #ffffff; 
 border: 1px solid #466f99; 
 border-radius: 5px; 
 padding: 10px; 
}

.dropdown-item {
 color: #333; 
 padding: 10px 20px; 
 text-decoration: #b40707; 
}


.dropdown-item:hover {
 background-color: #2676c7; 
 color: #b40707; 
}

</style>
<!-- Reports Section Start -->
<div class="page-body">
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <!-- Sales / search by date-->
      <div class="col-12">
        <div class="card o-hidden">
          <div class="card-header border-0 pb-1">
            <div class="card-header-title">
              <h4>Search by date</h4><br>
              <div class="col-md-9 col-lg-10">
                <input class="form-control" id="startDate" name="endDate" type="date"><br>
                <input class="form-control" id="endDate" name="endDate" type="date"><br>
                <a href="#" style="margin-left: 10px;" class="btn btn-solid" onclick="filterSalesReport()">Filter</a>

              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div id="sales-purchase-return-cart"></div>
          </div>
        </div>
      </div>
      <!-- Sales / search by date end-->


      <div style="margin-bottom: 20px;"> <input type="search" class="form-control" placeholder="Search by name..">
      </div>
      <!-- Booking history start-->
      <div class="col-12">
        <div class="card">
          <div class="card-header border-0 pb-1">
            <div class="card-header-title" style="display: inline-flex;">
              <h3>Sales Report</h3>
              <div class="dropdown">
                <button class="btn btn-solid dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Download Sales Report
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" onclick="downloadSalesReport('pdf')" style="color: black;">PDF</a>
                  <a class="dropdown-item" href="#" onclick="downloadSalesReport('xlsx')" style="color: black;">Excel</a>                  
                </div>
              </div>
              <a href="#" class="btn btn-solid" onclick="weeklyReport('week')">Weekly Report</a>
              <a href="#" class="btn btn-solid" onclick="yearlyReport('year')">Yearly Report</a>
            </div>
          </div>

          <div class="card-body">
            <div>
              <div class="table-responsive">
                <div class="scrollable-sales">
                  <table class="user-table list-table table" style="font-size: 12px;">
                    <thead>
                      <tr>
                        <th>Order Id</th>
                        <th>Customer Name</th>
                        <th>Address</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Order Date</th>
                      </tr>
                    </thead>
                    <div class="scrollable-tbody">
                      <tbody>
                        <% if(orderData && orderData.length > 0) { %>
                        <% orderData.forEach(function(order) { %>
                        <tr>
                          <td>#<%= order.orderId %></td>
                          <td>
                            <h5><%= order.orderBy.firstname %></h5>
                          </td>
                          <td>
                            <ul class="address-details">
                              <li><%= order.address[0].Fname %></li>
                              <li><%= order.address[0].mobile %></li>
                              <li><%= order.address[0].address %>, <br> <%= order.address[0].apartment %>, <br> <%= order.address[0].city %></li>
                              <li><%= order.address[0].state %>, <%= order.address[0].pincode %></li>
                              <li><%= order.address[0].country %></li>
                            </ul>
                          </td>

                          <td class="product-name">
                            <% order.products.forEach(function(product, index) { %>
                            <% let words = product.product.name.split(' '); %>
                            <% for (let i = 0; i < words.length; i++) { %>
                            <%= words[i] %>
                            <% if (i < words.length - 1) { %>
                            <% if ((i + 1) % 5 === 0) { %>
                            <br>
                            <% } else { %>
                            <% if (i < words.length - 1) { %>
                            <%= ' ' %>
                            <% } %>
                            <% } %>
                            <% } %>
                            <% } %>
                            <% if (index < order.products.length - 1) { %>,<br><% } %>
                            <% }); %>
                          </td>

                          <td style="text-align: center;">
                            <% order.products.forEach(function(product, index) { %>
                            <%= product.quantity %><% if (index < order.products.length - 1) { %><br><% } %>
                            <% }); %>
                          </td>
                          <td><%= order.orderTotal %></td>
                          <td><%= order.orderStatus %></td>
                          <td><%= order.orderedDate %></td>
                        </tr>
                        <% }); %>
                        <tr>
                          <td style="font-size: 20px;">Total:</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td style="font-size: 16px;"> <strong>₹<%= totalSum %></strong></td>
                        </tr>
                        <tr>
                          <td style="font-size: 20px;">Discount Amount:</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td style="font-size: 16px;"> <strong>₹<%= Math.round(discountAmount) %></strong></td>
                        </tr>
                        <tr>
                          <td style="font-size: 20px;">Grant Total:</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td style="font-size: 16px;"> <strong>₹<%= Math.round(orderTotalAmt) %></strong></td>
                        </tr>
                        <% } else { %>
                        <tr>
                          <td colspan="8">No Data</td>
                        </tr>
                        <% } %>
                      </tbody>
                    </div>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Booking history  end-->
    </div>
  </div>
  <!-- Container-fluid Ends-->

  <script>
    function downloadSalesReport(format) {
      const startDate = document.getElementById('startDate').value;
      const endDate = document.getElementById('endDate').value;
      const isFiltered = startDate && endDate;

      const url = `/admin/salesReport/download-salesreport?format=${format}`;
      fetch(url)
        .then(response => response.blob())
        .then(blob => {
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.style.display = 'none';
          a.href = url;
          a.download = `sales report.${format === 'pdf' ? 'pdf': 'xlsx'}`;
          document.body.appendChild(a);
          a.click();
          window.URL.revokeObjectURL(url);
        })
        .catch(error => console.error('Error downloading orders:', error));
    }

    function filterSalesReport() {
      var startDate = document.getElementById('startDate').value;
      var endDate = document.getElementById('endDate').value;

      var url = '/admin/salesReport/filterSalesReport?startDate=' + startDate + '&endDate=' + endDate;

      window.location.href = url;
    }

    function weeklyReport(week) {
      var url = `/admin/salesReport?type=${week}`;
      window.location.href = url;
    }
    function yearlyReport(year) {
      var url = `/admin/salesReport?type=${year}`;
      window.location.href = url;
    }
  </script>

  <%- include('../adminLayouts/footer.ejs') -%>