<%- include('../layouts/header.ejs') -%>



    <!--Body Content-->
    <div id="page-content">
    	<!--Home slider-->
        <p style="color: red;"><%= messages.message? messages.message: "" %></p>
    	<div class="slideshow slideshow-wrapper pb-section sliderFull">
        	<div class="home-slideshow">
            	<div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" data-src="images/parallax-banners/home9-parallax-banner1.jpg" src="images/parallax-banners/home9-parallax-banner1.jpg" alt="Shop Our New Collection" title="Shop Our New Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                        <h2 class="h1 mega-title slideshow__title">Shop Our New Collection</h2>
                                        <span class="mega-subtitle slideshow__subtitle">From Hight to low, classic or modern. We have you covered</span>
                                        <a href="/productView"><span class="btn">Shop now</span></a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide">
                	<div class="blur-up lazyload bg-size">
                        <img class="blur-up lazyload bg-img" data-src="images/parallax-banners/home9-banner1.jpg" src="images/parallax-banners/home9-banner1.jpg" alt="Summer Collection" title="Summer Collection" />
                        <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                            <div class="slideshow__text-content bottom">
                                <div class="wrap-caption center">
                                    <h2 class="h1 mega-title slideshow__title">Summer Collection</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Save up to 50% off this weekend only</span>
                                    <a href="/productView"><span class="btn">Shop now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Home slider-->
        <!--Collection Tab slider-->
        <div class="tab-slider-product section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="section-header text-center">
                            <h2 class="h2">New Arrivals</h2>
                            <p>Browse the huge variety of our products</p>
                        </div>
                        <div class="tabs-listing">
                            <ul class="tabs clearfix">
                                <li class="active" rel="tab1">Men</li>        
                            </ul>
                            <div class="tab_container">
                                <div id="tab1" class="tab_content grid-products">
                                    <div class="productSlider">
                                        <% products.forEach(product => { %>
                                        <div class="col-12 item">
                                            <!-- start product image -->
                                            <div class="product-image">
                                                <!-- start product image -->
                                                <a href="/singleProduct?id=<%= product._id %>">
                                                    <!-- image -->
                                                    <% product.images.forEach((image, index) => { %>
                                                    <img class="primary blur-up lazyload <%= index === 0 ? 'active' : '' %>" data-src="/uploads/<%= image %>" src="/uploads/<%= image %>" alt="<%= product.name %>" title="<%= product.name %>">
                                                    <% }); %>
                                                    <!-- End image -->
                                                    <!-- Hover image -->
                                                    <% product.images.forEach((image, index) => { %>
                                                    <img class="hover blur-up lazyload <%= index === 0 ? 'active' : '' %>" data-src="/uploads/<%= image %>" src="/uploads/<%= image %>" alt="<%= product.name %>" title="<%= product.name %>">
                                                    <% }); %>
                                                    <!-- End hover image -->
                                                    <!-- product label -->
                                                    <div class="product-labels rectangular"><span class="lbl on-sale"><%= product.offer.length >0 ? '-' + product.offer[0].percentage + '%' : '' %></span></div>
                                                    <!-- End product label -->
                                                </a>
                                                <!-- end product image --> 
                                            </div>
                                            <!-- end product image -->
                                    
                                            <!--start product details -->
                                            <div class="product-details text-center">
                                                <!-- product name -->
                                                <div class="product-name">
                                                    <a href="/singleProduct?id=<%= product._id %>"><%= product.name %></a>
                                                </div>
                                                <!-- End product name -->
                                                <!-- product price -->
                                                <div class="product-price">
                                                    <span class="price"><%= product.offerApplied ? '₹' + product.offerPrice : '₹' + product.price %></span>
                                                </div>
                                                <!-- End product price -->
                                            </div>
                                            <!-- End product details -->
                                        </div>
                                        <% }); %>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            	</div>    
            </div>
        </div>
        <!--Collection Tab slider-->
        
    
        
        <!--Store Feature-->
        <div class="store-feature section">
        	<div class="container">
            	<div class="row">
                	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    	<ul class="display-table store-info">
                        	<li class="display-table-cell">
                            	<i class="icon anm anm-truck-l"></i>
                            	<h5>Free Shipping &amp; Return</h5>
                            	<span class="sub-text">Free shipping on all US orders</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-dollar-sign-r"></i>
                                <h5>Money Guarantee</h5>
                                <span class="sub-text">30 days money back guarantee</span>
                          	</li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-comments-l"></i>
                                <h5>Online Support</h5>
                                <span class="sub-text">We support online 24/7 on day</span>
                            </li>
                          	<li class="display-table-cell">
                            	<i class="icon anm anm-credit-card-front-r"></i>
                                <h5>Secure Payments</h5>
                                <span class="sub-text">All payment are Secured and trusted.</span>
                        	</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End Store Feature-->
    </div>
    <!--End Body Content-->
    
    
<%- include('../layouts/footer.ejs') -%>
