<%- include('../layouts/header.ejs') -%>
<!--Body Content-->
<div id="page-content">
  <!--Collection Banner-->
  <div class="collection-header">
    <div class="collection-hero">
      <div class="collection-hero__image"><img class="blur-up lazyload" data-src="/images/cat-men.jpg" src="/images/cat-men.jpg" alt="Women" title="Women" /></div>
      <div class="collection-hero__title-wrapper">
        <h1 class="collection-hero__title page-width">Shop Products</h1>
      </div>
    </div>
  </div>
  <!--End Collection Banner-->

  <div class="container">
    <div class="row">
      <!--Sidebar-->
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
        <div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
        <div class="sidebar_tags">
          <!--Categories-->
          <div class="sidebar_widget categories filter-widget">
            <div class="widget-title">
              <h2>Categories</h2>
            </div>
            <div class="widget-content">
              <ul class="sidebar_categories">
                <li class="level1 sub-level"><a href="#;" class="site-nav">Clothing</a>
                  <ul class="sublinks">
                    <% if(categories && categories.length > 0) { %>
                    <% categories.forEach(category => { %>
                    <li class="level2"><a href="/productView?page=<%= currentPage %>&catId=<%= category._id %>" class="site-nav"><%= category.category %></a></li>
                    <% }); %>
                    <% } else { %>
                    <li class="level2"><a href="#;" class="site-nav">NoCategories</a></li>
                    <% } %>
                    <!-- <li class="level2"><a href="#;" class="site-nav">Women</a></li>
                                        <li class="level2"><a href="#;" class="site-nav">View All Clothing</a></li> -->
                  </ul>
                </li>

              </ul>
            </div>
          </div>
          <!--Categories-->
          <!--Price Filter-->
          <div class="sidebar_widget filterBox filter-widget">
            <div class="widget-title">
              <h2>Price</h2>
            </div>
            <% if(products && products.length > 0) { %>
            <form id="price-filter-form" action="/productView?page=<%= currentPage %>" method="get" class="price-filter" data-max-price="5000">
              <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                <!-- <span class="ui-slider-handle indian-currency ui-corner-all" tabindex="0"></span> -->
                <!-- <span class="ui-slider-handle indian-currency ui-corner-all" tabindex="0"></span> -->

              </div>
              <div class="row">
                <div class="col-6">
                  <p class="no-margin"><input id="amount" type="text" max="5000"></p>
                </div>
                <div class="col-6 text-right margin-25px-top">
                  <button class="btn btn-secondary btn--small">filter</button>
                </div>
              </div>
            </form>

            <% } %>
          </div>

          <!--End Price Filter-->
          <!--Size Swatches-->
          <div class="sidebar_widget filterBox filter-widget size-swacthes">
            <div class="widget-title">
              <h2>Size</h2>
            </div>
            <% if(products && products.length > 0) { %>
            <div class="filter-color swacth-list">
              <ul>
                <% sizeForViewing.forEach(size => { %>
                <li>
                  <span class="swacth-btn <%= size._id === currentSizeFilter ? 'checked' : '' %>" data-size="<%= size._id %>"><%= size._id %></span>
                  <a href="/productView?page=<%= currentPage %>&size=<%= size._id %>" class="size-link"></a>
                </li>
                <% }); %>
              </ul>
            </div>
            <% } %>
          </div>
          <!--End Size Swatches-->


         
          <!--Information-->
          <div class="sidebar_widget">
            <div class="widget-title">
              <h2>Information</h2>
            </div>
            <div class="widget-content">
              <p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>
            </div>
          </div>
          <!--end Information-->
        </div>
      </div>
      <!--End Sidebar-->
      <!--Main Content-->
      <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
        <div class="productList">
          <!--Toolbar-->
          <button type="button" class="btn btn-filter d-block d-md-none d-lg-none"> Product Filters</button>
          <div class="toolbar">
            <div class="filters-toolbar-wrapper">
              <div class="row">
                <div class="col-4 col-md-4 col-lg-4 filters-toolbar__item collection-view-as d-flex justify-content-start align-items-center">
                </div>

                <div class="col-4 col-md-4 col-lg-4 text-center filters-toolbar__item filters-toolbar__item--count d-flex justify-content-center align-items-center">
                </div>
                <div class="col-4 col-md-4 col-lg-4 text-right">
                  <div class="filters-toolbar__item">
                    <label for="SortBy" class="hidden">Sort</label>
                    <select name="SortBy" id="SortBy" class="filters-toolbar__input filters-toolbar__input--sort" data-sortBy="<%= currentSortOption %>" onchange="handleSortChange(this)">
                      <option value="title-ascending" <% if(products === "title-ascending") { %> selected <% } %>>Sort</option>
                      <option value="price-low-to-high"> <% if(products === "price-low-to-high") { %> selected <% } %>Price, low to high</option>
                      <option value="price-high-to-low"> <% if(products === "price-high-to-low") { %> selected <% } %>Price, high to low</option>
                      <option value="date-new-to-old"> <% if(products === "date-new-to-old") { %> selected <% } %>Date, new to old</option>
                      <option value="date-old-to-new"> <% if(products === "date-old-to-new") { %> selected <% } %>Date, old to new</option>
                    </select>
                    <input class="collection-header__default-sort" type="hidden" value="manual">
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--End Toolbar-->
          <div class="grid-products grid--view-items">
            <div class="row">
              <% for(i = 0; i<products.length; i++) { %>
              <div class="col-6 col-sm-6 col-md-4 col-lg-3 item grid-view-item--sold-out">
                <!-- start product image -->
                <div class="product-image">
                  <!-- start product image -->
                  <a href="/singleProduct?id=<%= products[i]._id %>" class="grid-view-item__link">
                    <!-- image -->
                    <img class="grid-view-item__image primary blur-up lazyload" data-src="/uploads/<%= products[i].images[0]%>" src="/uploads/<%= products[i].images[0]%>" alt="image" title="product">
                    <!-- End image -->
                    <!-- Hover image -->
                    <img class="grid-view-item__image hover blur-up lazyload" data-src="/uploads/<%= products[i].images[1]%>" src="/uploads/<%= products[i].images[1]%>" alt="image" title="product">
                    <!-- End hover image -->
                    <% if(products[i].offer && products[i].offer.length > 0) { %>
                    <div class="product-labels rectangular"><span class="lbl on-sale">-<%= products[i].offer[0].percentage %>%</span> </div>
                    <% } else { %>
                    <div hidden class="product-labels rectangular"><span class="lbl on-sale">-16%</span>
                      <span class="lbl pr-label1">new</span>
                    </div>

                    <% } %>

                    <% if(products[i].quantity === 0) { %>
                    <span class="sold-out"><span>Sold out</span></span>
                    <% } %>
                  </a>
                  <!-- end product image -->

                  <!-- Start product button -->
                  <!-- end product button -->
                </div>
                <!-- end product image -->

                <!--start product details -->
                <div class="product-details text-center">
                  <!-- product name -->
                  <div class="product-name">
                    <a href="/singleProduct?id=<%= products[i]._id %>"><%= products[i].name %></a>
                  </div>
                  <!-- End product name -->
                  <!-- product price -->
                  <% if(products[i].offer && products[i].offer.length > 0) { %>
                  <div class="product-price">
                    <span class="price" style="text-decoration: line-through;">₹<%= products[i].price %></span> &nbsp;
                    <span class="price" style="color: red;">₹<%= products[i].offerPrice %></span>
                  </div>
                  <% } else { %>
                  <div class="product-price">
                    <span class="price">₹<%= products[i].price %></span>
                  </div>
                  <% } %>

                  <!-- End product price -->
                </div>
                <!-- End product details -->
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div class="pagination">
          <ul>
            <% if (currentPage > 1) { %>
            <li class="prev"><a href="/productView?page=<%= Number(currentPage) - 1 %>&catId=<%= category %>"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
            <% } %>
            <% paginationLinks.forEach(link => { %>
            <% const pageNumber = link.match(/page=(\d+)/)[1]; %>
            <li class="<%= pageNumber === currentPage.toString() ? 'active' : '' %>">
              <a href="<%= link %>"><%= pageNumber %></a>
            </li>
            <% }); %>

            <% if (currentPage < totalPages) { %>
            <li class="next"><a href="/productView?page=<%= Number(currentPage) + 1 %>&catId=<%= category %>"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
            <% } %>
          </ul>

        </div>

      </div>
      <!--End Main Content-->
    </div>
  </div>

</div>
<!--End Body Content-->


<!--Quick View popup-->
<div class="modal fade quick-view-popup" id="content_quickview">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="ProductSection-product-template" class="product-template__container prstyle1">
          <div class="product-single">
            <!-- Start model close -->
            <a href="javascript:void()" data-dismiss="modal" class="model-close-btn pull-right" title="close"><span class="icon icon anm anm-times-l"></span></a>
            <!-- End model close -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="product-details-img">
                  <div class="pl-20">
                    <img src="/images/product-detail-page/camelia-reversible-big1.jpg" alt="" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="product-single__meta">
                  <h2 class="product-single__title">Product Quick View Popup</h2>
                  <div class="prInfoRow">
                    <div class="product-stock"> <span class="instock ">In Stock</span> <span class="outstock hide">Unavailable</span> </div>
                    <div class="product-sku">SKU: <span class="variant-sku">19115-rdxs</span></div>
                  </div>
                  <p class="product-single__price product-single__price-product-template">
                    <span class="visually-hidden">Regular price</span>
                    <s id="ComparePrice-product-template"><span class="money">$600.00</span></s>
                    <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                      <span id="ProductPrice-product-template"><span class="money">$500.00</span></span>
                    </span>
                  </p>
                  <div class="product-single__description rte">
                    Belle Multipurpose Bootstrap 4 Html Template that will give you and your customers a smooth shopping experience which can be used for various kinds of stores such as fashion,...
                  </div>

                  <form method="post" action="http://annimexweb.com/cart/add" id="product_form_10508262282" accept-charset="UTF-8" class="product-form product-form-product-template hidedropdown" enctype="multipart/form-data">
                    <div class="swatch clearfix swatch-0 option1" data-option-index="0">
                      <div class="product-form__item">
                        <label class="header">Color: <span class="slVariant">Red</span></label>

                      </div>
                    </div>
                    <div class="swatch clearfix swatch-1 option2" data-option-index="1">
                      <div class="product-form__item">
                        <label class="header">Size: <span class="slVariant">XS</span></label>
                        <div data-value="XS" class="swatch-element xs available">
                          <input class="swatchInput" id="swatch-1-xs" type="radio" name="option-1" value="XS">
                          <label class="swatchLbl medium rectangle" for="swatch-1-xs" title="XS">XS</label>
                        </div>

                      </div>
                    </div>
                    <!-- Product Action -->
                    <div class="product-action clearfix">
                      <div class="product-form__item--submit">
                        <button type="button" name="add" class="btn product-form__cart-submit">
                          <span>Add to cart</span>
                        </button>
                      </div>
                    </div>
                    <!-- End Product Action -->
                  </form>
                  <div class="display-table shareRow">
                    <div class="display-table-cell">
                      <div class="wishlist-btn">
                        <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist"><i class="icon anm anm-heart-l" aria-hidden="true"></i> <span>Add to Wishlist</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--End-product-single-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Quick View popup-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


<script>
  $(function() {
    const maxPrice = parseInt($(".price-filter").data("max-price"), 10);
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: maxPrice,
      values: [0, maxPrice],
      slide: function(event, ui) {
        $("#amount").val("₹" + ui.values[0] + " - ₹" + ui.values[1]);
      }
    });
    $("#amount").val("₹" + $("#slider-range").slider("values", 0) +
      " - ₹" + $("#slider-range").slider("values", 1));



    $("#price-filter-form").on("submit", function(e) {
      e.preventDefault();
      const priceFrom = $("#slider-range").slider("values", 0);
      const priceLimit = $("#slider-range").slider("values", 1);
      const actionUrl = `/productView?page=<%= currentPage %>&priceFrom=${priceFrom}&priceLimit=${priceLimit}`;
      window.location.href = actionUrl;
    });

  });
</script>

<script>
  $(function() {
    $(".swacth-btn").on("click", function() {
      const selectedSize = $(this).data("size");
      const Url = `/productView?page=<%= currentPage %>&size=${selectedSize}`
      window.location.href = Url;

    });
  });

  function handleSortChange(selectElement) {
    const sortOption = selectElement.value;
    //  const currentPage = document.querySelector('.current-page').value;
    const currentCatId = new URLSearchParams(window.location.search).get('catId');

    let url = `/productView?page=<%= currentPage %>&sort=${sortOption}`;
    if (currentCatId) {
      url += `&catId=${currentCatId}`;
    }

    window.location.href = url;
  }
</script>




<%- include('../layouts/footer.ejs') -%>