<%- include('../layouts/header.ejs') -%>
<style>
  .list-view-item__title a {
 display: block;
 white-space: nowrap; 
 overflow: hidden; 
 text-overflow: ellipsis; 
 max-width: 80%; 
}
  </style>
<!--Body Content-->
<div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper">
        <h1 class="page-width">Your cart</h1>
      </div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
        <form action="#" method="post" class="cart style2">
          <table>
            <thead class="cart__row cart__header">
              <tr>
                <th colspan="2" class="text-center">Product</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Total</th>
                <th class="action">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <%  if(cartProduct.products.length > 0 ) { %>
              <% cartProduct.products.forEach(product => { %>
              <tr class="cart__row border-bottom line1 cart-flex border-top">
                <td class="cart__image-wrapper cart-flex-item">
                  <a href="/singleProduct?id=<%= product.product._id %>"><img class="cart__image" src="/uploads/<%= product.product.images[0] %>" alt="<%= product.product.name %>"></a>
                </td>
                <td class="cart__meta small--text-left cart-flex-item">
                  <div  class="list-view-item__title">
                    <a  href="/singleProduct?id=<%= product.product._id %>"><%= product.product.name %> </a>
                  </div>

                  <div class="cart__meta-text">
                    Color: <%= product.product.color %><br>Size: <%= product.product.size %><br>
                    <% if(product.product.offerApplied === true) { %>
                      <p style="color: red;">Offer Applied</p>
                      <% } else{ %>
                           
                        <% } %>
                  </div>
                </td>
                <% if(product.product.offerApplied === true) { %>
                <td class="cart__price-wrapper cart-flex-item">
                  <span class="money" style="color: red;">₹<%= product.product.offerPrice %></span><br>
                  <span class="money" style="text-decoration: line-through;">₹<%= product.product.price %></span>
                </td>
                <% } else { %>
                  <td class="cart__price-wrapper cart-flex-item">
                    <span class="money">₹<%= product.product.price %></span>
                  </td>
                  <% } %>
                <td class="cart__update-wrapper cart-flex-item text-right">
                  <div class="cart__qty text-center">
                    <div class="qtyField">
                      <a class="qtyBtn minus" href="javascript:void(0);" onclick="updateQuantity('<%= product.product._id %>', -1)"><i class="icon icon-minus"></i></a>
                      <input class="cart__qty-input qty" data-decimals="0" id="Quantity_<%= product.product._id %>" type="text" name="updateQty" value="<%=  product.quantity %>" step="1" min="1" max="<%= product.product.quantity %>" pattern="[0-9]*" readonly>
                      <input type="hidden" id="productQty" value="<%= product.product.quantity %>">
                      <a class="qtyBtn plus" href="javascript:void(0);" onclick="updateQuantity('<%= product.product._id %>', 1)"><i class="icon icon-plus"></i></a>
                    </div>
                  </div>
                </td>
                <% if(product.product.offerApplied === true) { %>
                <td class="text-right small--hide cart-price">
                  <div id="SubtotalReload"><span class="money">₹<%= product.quantity * product.product.offerPrice %></span></div>
                </td>
                <% } else { %>
                  <td class="text-right small--hide cart-price">
                    <div id="SubtotalReload"><span class="money">₹<%= product.quantity * product.product.price %></span></div>
                  </td>
                  <% } %>
                <td class="text-center small--hide"><a href="#" onclick="removeItem('<%= product._id %>')" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
              </tr>
              <% }); %>
              <% } else { %>
              <tr>
                <td colspan="3" style="text-align: center;">No product in the cart</td>
              </tr>
              <% } %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3" class="text-left"><a href="/" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Continue shopping</a></td>
              </tr>
            </tfoot>
          </table>

          <div class="currencymsg">We processes all orders in USD. While the content of your cart is currently displayed in USD, the checkout will use USD at the most current exchange rate.</div>
          <hr>
          <div id="shipping-calculator" class="mb-4">
            <h5 class="small--text-center">Get shipping estimates</h5>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="address_country">Country</label>
                  <select id="address_country" name="address[country]" data-default="United States">
                    <option value="Belgium" data-provinces="[]">Belgium</option>
                    <option value="---" data-provinces="[]">---</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label>State</label>
                  <select id="address_province" name="address[province]" data-default="">
                    <option value="Alabama">Alabama</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-4">
                <div class="form-group">
                  <label for="address_zip">Postal/Zip Code</label>
                  <input type="text" id="address_zip" name="address[zip]">
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 actionRow text-center">
                <div><input type="button" class="btn btn--secondary get-rates" value="Calculate shipping"></div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
        <!-- <div class="cart-note">
          <div class="solid-border">
            <h5><label for="CartSpecialInstructions" class="cart-note__label small--text-center">Add a note to your order</label></h5>
            <textarea name="note" id="CartSpecialInstructions" class="cart-note__input"></textarea>
          </div>
        </div> -->
        <div class="solid-border">
          <div class="row">
            <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
            <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money" id="subtotalReolad">
              ₹<%= cartProduct.cartTotal %></span></span>
          </div>
          <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
          <p class="cart_tearm">
            <label>
              <input type="checkbox" name="tearm" id="cartTearm" class="checkbox" value="tearm" required="">
              I agree with the terms and conditions</label>
          </p>
          <%  if(cartProduct.products.length > 0 ) { %>
          <a href="/cart/checkout">
            <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout">
          </a>
          <% } else { %>
          <a href="#">
            <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout">
          </a>

          <% } %>


          <div class="paymnet-img"><img src="/images/payment-img.jpg" alt="Payment"></div>
        </div>

      </div>
    </div>
  </div>

</div>
<!--End Body Content-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>



<script>
  toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": true,
  "progressBar": false,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
};

  async function updateQuantity(productId, increment) {

    try {

      const quantityInput = document.getElementById(`Quantity_${productId}`);
      const currentQuantity = parseInt(quantityInput.value);
      console.log(("quantityValue", currentQuantity));
      
      if (currentQuantity + increment < 1) {
        toastr.info("Quantity cannot be less than 1", "info!");
        return;
      }
    
      const response = await fetch('/cart/update', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          productId: productId,
          quantity: increment
        })
      });

      const data = await response.json();

      if (data.success) {

      //   const CartCountSpan = document.getElementById('CartCount');
      
      // $('.site-cart').load(`/cart?id=${productId} .site-cart`)
       
      // const cartSubTotal = document.getElementsByClassName('money');
      // $('#subtotalReolad').load(`/cart?id=${productId} #subtotalReolad`)
      // const cartSingleSubTotal = document.getElementById('SubtotalReload');
      // $('#SubtotalReload').load(`/cart?id=${productId} #SubtotalReload`)
      // $('#quantity').load(`/cart?id=${productId} #Quantity`)

    window.location.href=window.location.href
      } else {
        if(data.stockErr){
          quantityInput.value = Number(quantityInput.value) - 1;
        }
        console.log("Failed to update quantity:", data.message);
        toastr["warning"](`${data.message}`, "Warning!");
        }
           
    } catch (error) {
      console.log("Error updating quantity:", error);
      toastr["error"](`An error occurred while updating the quantity: ${error.message}`, "Error!");

    }
  }

  //displaying the message from the checkout
  document.addEventListener('DOMContentLoaded', function() {
 const urlParams = new URLSearchParams(window.location.search);
 const paymentFailed = urlParams.get('paymentFailed');

 if (paymentFailed === 'true') {
    toastr.error('Payment Failed. Please try again.', 'Info!');
 }
});



</script>

<script>
  async function removeItem(productId) {
    console.log("productID", productId);
    try {

      const result = await Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#000000",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      });

      if (result.isConfirmed) {
        const response = await fetch('/cart/remove', {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            productId: productId
          })
        });
        const data = await response.json();
        if (data.success) {
          console.log("item removed");
          Swal.fire({
            title: "Deleted!",
            text: "Your item has been removed from the cart.",
            icon: "success"
          }).then(() => {
            window.location.reload();
          });
        } else {
          console.log('failed to remove item from cart');
        }
      }
    } catch (error) {
      console.log('Error removing item');
    }
  }
</script>

<%- include('../layouts/footer.ejs') -%>