<%- include('../layouts/header.ejs') -%>

<link rel="stylesheet" href="/style.css">


<div class="page-content">
  <div class="dashboard">
    <div class="container">
      <div class="row">
        <aside class="col-md-4 col-lg-3">
          <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
        </aside><!-- End .col-lg-3 -->

        <div class="col-md-8 col-lg-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
              <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>)
                <br>
                From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.
              </p>
            </div><!-- .End .tab-pane -->

            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
              <p>No order has been made yet.</p>
              <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- .End .tab-pane -->

            <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
              <p>No downloads available yet.</p>
              <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- .End .tab-pane -->

            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">  
                <button id="openBtn" class="btn btn-outline-primary-2">
                  <span>EDIT ADDRESS</span>
                </button> 
                <br><br>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                        <p><%= user.firstname %><br>
                          User Company<br>
                          John str<br>
                          New York, NY 10001<br>
                          1-234-987-6543<br>
                          yourmail@mail.com<br>
                          <a href="#">Edit <i class="icon-edit"></i></a>
                        </p>
                      </div><!-- End .card-body -->
                    </div><!-- End .card-dashboard -->
                  </div><!-- End .col-lg-6 -->

                  <div class="col-lg-6">
                    <div class="card card-dashboard">
                      <div class="card-body">
                        <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                        <p>You have not set up this type of address yet.<br>
                          <a href="#">Edit <i class="icon-edit"></i></a>
                        </p>
                      </div><!-- End .card-body -->
                    </div><!-- End .card-dashboard -->
                  </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
             

                <!-- Full screen modal -->
                <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Address</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <fieldset>
                            <div class="row">
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-firstname">First Name <span class="required-f">*</span></label>
                                <input name="firstname" value="" id="input-firstname" type="text">
                              </div>
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-lastname">Last Name <span class="required-f">*</span></label>
                                <input name="lastname" value="" id="input-lastname" type="text">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-email">E-Mail <span class="required-f">*</span></label>
                                <input name="email" value="" id="input-email" type="email">
                              </div>
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-telephone">Telephone <span class="required-f">*</span></label>
                                <input name="telephone" value="" id="input-telephone" type="tel">
                              </div>
                            </div>
                          </fieldset>
                          <fieldset>
                            <div class="row">
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-address-1">Address <span class="required-f">*</span></label>
                                <input name="address_1" value="" id="input-address-1" type="text">
                              </div>
                              <div class="form-group col-md-6 col-lg-6 col-xl-6">
                                <label for="input-address-2">Apartment <span class="required-f">*</span></label>
                                <input name="address_2" value="" id="input-address-2" type="text">
                              </div>
                            </div>
                            <div class="row">

                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-city">City <span class="required-f">*</span></label>
                                <input name="city" value="" id="input-city" type="text">
                              </div>
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-postcode">Post Code <span class="required-f">*</span></label>
                                <input name="postcode" value="" id="input-postcode" type="text">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-country">Country <span class="required-f">*</span></label>
                                <select name="country_id" id="input-country">
                                  <option value=""> --- Please Select --- </option>
                                  <option value="244">India</option>
                                </select>
                              </div>
                              <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                                <label for="input-zone">Region / State <span class="required-f">*</span></label>
                                <select name="zone_id" id="input-zone">
                                  <option value=""> --- Please Select --- </option>
                                  <option value="3513">Kerala</option>
                                </select>
                              </div>
                            </div>
                            <div class="order-button-payment">
                              <button class="btn" value="Submit" type="submit">Submit</button>
                          </div>
                          </fieldset>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
          </div>




          <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
            <p style="color: red;"><%= messages.updateMsg ?? "" %></p>
            <form action="/userProfile" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <label>First Name *</label>
                  <input type="text" class="form-control" value="<%= user.firstname %>" name="Fname" required>
                  <input type="hidden" value="<%= user._id %>" name="UserID">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <label>Last Name *</label>
                  <input type="text" class="form-control" value="<%= user.lastname %>" name="Lname" required>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <label>Display Name *</label>
              <input type="text" class="form-control" value="<%= user.firstname + ' ' + user.lastname %>" required>
              <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

              <label>Email address *</label>
              <input type="email" class="form-control" value="<%= user.email %>" name="Email" required>

              <button type="submit" class="btn btn-outline-primary-2">
                <span>SAVE CHANGES</span>
                <i class="icon-long-arrow-right"></i>
              </button>
            </form>
          </div><!-- .End .tab-pane -->
        </div>
      </div><!-- End .col-lg-9 -->
    </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .dashboard -->
</div><!-- End .page-content -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
  $('#openBtn').click(function() {
    $("#addressModal").modal();
  });

  $('#closeModal').click(function() {
    $("#myModal").modal('hide');
  });
</script>
<%- include('../layouts/footer.ejs') -%>